<div class="row marketing">
  <div class="panel panel-primary">
    <div class="panel-heading"></span>Temperature</div>
    <div class="panel-body">
      <highchart config="thermometerChartConfig"></highchart>
        <h4>{{temperature.value}}</h4>
      </div>
  </div>
  
  <div class="panel panel-primary">
    <div class="panel-heading"></span>Brightness</div>
    <div class="panel-body">
      <h4>{{brightness.value}} / 1023 {{brightness.value | userFriendlyBrightness}}</h4>
    </div>
  </div>
  
 </div>
